

//
// post list
// -------------------------



//
// post thumbnail image
// -------------------------
.post-thumbnail img,
.post-image-attachment img,
.entry-gallery img {
  width: 100%;
  height: auto;
}

//
// post feature image
// --------------------------
.single-featured-image-header img {
  width: 100%;
  height: auto;
}