//
// featured header特色图页头部分的样式，移动优先
// --------------------------------------------------

.featured-header {

  position: relative;
  width: 100%;
  //内部的meta-content绝对定位，无featured image时，设置最小高度
  min-height: 420px;//@my-header-height * 3;
  overflow: hidden;

  @media (max-width: @screen-xs-min) {
    margin-top: @my-header-height;
  }
  @media (min-width: @screen-sm-min) {
    margin-top: @my-header-height;
  }
  @media (min-width: @screen-md-min) {
    margin-top: -@my-header-height;
  }


  //== 1. 特色图
  //
  .featured-image-header img {
    max-width: 100%;
    height: auto;
  }


  //== 2. archive/single等的meta信息
  //
  .meta-content {
    position: absolute;
    bottom: @my-featured-content-bottom;
    left: @my-featured-content-left;
    right: @my-featured-content-right;
    z-index: 10;

    width: @my-featured-content-width;
    padding: 15px;
    color: #fff;
    //text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(35, 39, 42, @my-featured-content-opacity);//@mytheme-bg-mask;

    @media (min-width: @screen-md-min) {
      bottom: 20%;
      left: 10%;
      width: 50%;
    }
    @media (min-width: @screen-xs-max) {
      padding: 20px;
    }

    //** archive页的部分
    .meta-label {
      padding: 6px 10px;
      display: inline-block;
      background-color: @mytheme-category-3;

      .icon {
        margin-right: 6px;
      }
    }//.meta-label

    .entry-title {
      margin-bottom: 15px;
    }

    .meta-avatar {
      margin-right: 10px;
    }

    .search-title {
      min-height: 2em;
      .search-string {
        border-bottom: 1px dotted;
      }
    }

    .meta-taxonomy-description {
      margin-top: 10px;
    }

    //** single页的部分
    //** 文章分类
    .entry-categories {
      list-style: none;
      margin: 0;
      padding: 0;
      .clearfix();  //要只包含浮动元素又有高度，需令其清除浮动

      li {
        float: left;
        margin: 0 6px 6px 0;
      }
      a {
        display: inline-block;
        padding: 6px;
        color: #fff;
        @media (min-width: @screen-xs-max) {
          padding: 6px 10px;
        }
        &:hover, &:focus {
          color: @link-hover-color;
        }
      }
    }//.entry-categories

    //** 阅读次数
    .entry-views {
      float: right;
      margin: 0;
      @media (min-width: @screen-xs-max) {
        margin-top: 20px;
        margin-right: 10%;
      }
    }//.entry-views

    //** 作者、日期等
    .entry-meta {
      padding-top: 15px;
      border-top: 1px dotted #fff;

      img.avatar {
        width: 10%;
        max-width: 48px;
        height: auto;
        @media (min-width: @screen-xs-max) {
          margin-right: 10px;
        }
        &:hover, &:focus {
          opacity: 0.5;
        }
      }

      .byline, .posted-time-text {
        margin-right: 10px;
      }
      .posted-time-text, .updated-time-text {
        @media (max-width: @screen-xs-min) {
          display: block;
        }
      }

      a {
        color: #fff;
        &:hover, &:focus {
          color: @link-hover-color;
        }
      }
    }//.entry-meta

  }//.meta-content

}//.featured-header

