

// header image
// -------------------------
.has-header-image .custom-header .custom-header-media img {
  width: 100%;
  height: auto;
}


// navbar search input
// -------------------------
.nav-search-input {
  width: 10%;//130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.nav-search-input:focus {
  width: 30%;
}
