//
// 各页面基本组成部分的布局（md以上视图）
// ---------------------------------------
#page {
  //超宽屏时，限制页面宽度并居中显示
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.content-wrap {
  position: relative;
}

.site-content-contain {
  .container;

  @media (min-width: @screen-md-min) {
    margin-top: -@my-sidebar-header-height;
  }
}

.error404 .site-content-contain,
.search-no-results .site-content-contain {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.site-content {
  .make-row();
}

.home,
.archive,
.single,
.search:not(.search-no-results) {

  @media (min-width: @screen-md-min) {
    #primary {
      .make-md-column(8);
      overflow: hidden;
    }

    #secondary {
      .make-md-column(4);
      overflow: hidden;
    }
  }

}

//文章以列表形式显示的页面
.home,
.archive,
.search:not(.search-no-results) {

  #primary #main {
    .make-row();

    .masonry-layout-column-width, //just for masonry layout
    article.post,
    article.page {
      .make-lg-column(6);
    }

    article.sticky {
      .make-lg-column(12);
    }
  }

}

.site-footer {

  .widget-area,
  .site-info {
    .container-fluid;
  }
  .footer-widget-1 {
    .make-row();
  }
  .footer-widget-2 {
    .make-row();
  }

}


