//
// slider 幻灯片部分的样式
// --------------------------------------------------


//== flickity的lazyload图片fade in效果
//
.carousel-cell-image {
  opacity: 0;
  .transition(opacity 0.4s);
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}


//== 1. 首页页头carousel
//
#carousel-front-page {

  @media (max-width: @screen-xs-min) {
    margin-top: @my-header-height;
  }
  @media (min-width: @screen-sm-min) {
    margin-top: @my-header-height;
  }
  @media (min-width: @screen-md-min) {
    margin-top: -@my-header-height;
  }

  //由于使用flickity后，其内部的元素都是绝对定位，没有高度，可用padding占位
  padding-bottom: 125%;  //高度设置为宽度的百分比，图片高宽比例要与此相同
  @media (min-width: @screen-sm-min) {  //对应响应式图片方案中data-media的值
    padding-bottom: 56%;  //高度设置为宽度的百分比
  }
  @media (min-width: (@screen-lg-min)) {  //对应响应式图片方案中data-media的值
    padding-bottom: 50%;  //高度设置为宽度的百分比
  }


  .flickity-viewport {
    //令其绝对定位，则它和它的内部绝对定位的子元素都继承相对定位的父元素.carousel
    position: absolute;
    width: 100%;
  }

  //** 幻灯片单元
  .carousel-cell {
    width: 100%;
    height: 100%;
    overflow: hidden;

    //** 幻灯片图片
    //> img.b-loaded,
    //> a > img.b-loaded {
    img.responsive-img,
    a > img.responsive-img {
      max-width: 100%;
      height: auto;
    }

    //** 幻灯片文章内容和信息
    .carousel-content {
      position: absolute;
      bottom: @my-carousel-content-bottom;
      left: @my-carousel-content-left;
      right: @my-carousel-content-right;
      z-index: 10;

      width: @my-carousel-content-width;
      padding: 0;
      color: #fff;
      //text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      background-color: rgba(35, 39, 42, @my-carousel-content-opacity);//@mytheme-bg-mask;

      @media (min-width: @screen-md-min) {
        bottom: 15%;
        left: 10%;
        width: 50%;
      }
      @media (min-width: @screen-xs-max) {
        padding: 20px;
      }

      //** 文章分类
      .entry-categories {
        list-style: none;
        margin: 0;
        padding: 0;
        .clearfix();  //要只包含浮动元素又有高度，需令其清除浮动
        @media (min-width: @screen-xs-max) {
          padding: 10px;
        }

        li {
          float: left;
        }
        a {
          display: inline-block;
          padding: 6px;
          color: #fff;
          @media (min-width: @screen-xs-max) {
            padding: 6px 10px;
          }
          &:hover, &:focus {
            color: @link-hover-color;
          }
        }
      }//.entry-categories

      //** 文章标题
      .slide-title {
        margin-top: 10px;
        padding: 0 10px;
        text-align: center;
      }
      //** 文章摘要
      .slide-excerpt {
        padding: 0 10px;
      }
      //** 文章作者日期等
      .slide-meta {
        padding: 0 0 0 10px;
        position: relative;
        @media (min-width: @screen-xs-max) {
          padding: 10px;
        }

        img.avatar {
          width: 10%;
          max-width: 48px;
          height: auto;
          @media (min-width: @screen-xs-max) {
            margin-right: 10px;
          }
          &:hover, &:focus {
            opacity: 0.5;
          }
        }
        a.btn {
          @media (min-width: @screen-xs-max) {
            width: 120px;
            line-height: 28px;
            //垂直居中
            position: absolute;
            top: 50%;
            right: 10px;
            .translate(0,-50%);
            //transform: translateY(-50%);
          }
        }
      }//.slide-meta

    }//.carousel-content

  }//.carousel-cell


  //** 前/后导航按钮
  .flickity-button {
    background: transparent;
    color: #fff;
    @media ( min-width: @screen-sm-min ) {
      background: hsla(0, 0%, 100%, 0.75);
      color: #333;
      &:hover {
        background: white;
      }
    }
  }//.flickity-button

  .flickity-button-icon {
    fill: #fff;
    @media ( min-width: @screen-sm-min ) {
      fill: #333;
    }
  }

  .flickity-prev-next-button {
    top: 60%;
  }


  //** 指示器
  .flickity-page-dots {
    bottom: 20px;
    z-index: 2;

    @media (max-width: @screen-xs-min) {
      bottom: -40px;
    }
  }

  .flickity-page-dots .dot {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    opacity: 0.5;
  }

  .flickity-page-dots .dot.is-selected {
    background: #ffffff;
    opacity: 1;
  }

}//#carousel-front-page


//== 2. 文章列表中gallery carousel
//
.gallery-carousel {

  //由于其内部的元素都是绝对定位，没有高度，可用padding占位
  padding-bottom: 125%;  //高度设置为宽度的百分比，图片高宽比例要与此相同
  @media (min-width: @screen-lg-min) {
    padding-bottom: 140%; //拉伸幅度不大，图片可不变，只需令height:100%
  }

  .flickity-viewport {
    //令其绝对定位，则它和它的内部绝对定位的子元素都继承相对定位的父元素.carousel
    position: absolute;
    width: 100%;
  }

  //** 幻灯片单元
  .carousel-cell {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      @media (min-width: @screen-lg-min) {
        height: 100%; //对应padding-bottom拉伸幅度不大，图片可不变
      }
    }
  }

  //** 指示器
  .flickity-page-dots {
    bottom: 20px;
    z-index: 2;
  }

  .flickity-page-dots .dot {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    opacity: 0.5;
  }

  .flickity-page-dots .dot.is-selected {
    background: #ffffff;
    opacity: 1;
  }

}

//== 3. 相关文章slider
//
.related-post-panel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: @my-content-module-margin;
  padding: @my-article-padding;
  @media (max-width: @screen-xs-min) {
    padding: @my-article-padding 6px;
  }
  background-color: @mytheme-bg-module;

  .related-post-header {
    margin-left: 6px;
    margin-right: 6px;
  }

  > ul {
    list-style: none;
    padding: 0;
  }
}


.related-post-carousel {

  //** 幻灯片单元
  .carousel-cell {
    width: 50%;
    //height: 300px;
    padding: 0 6px;

    //** 文章缩略图
    img {
      width: 100%;
      height: auto;
    }

    //** 文章信息
    .entry-content {
      .entry-summary {
        margin-bottom: 10px;
      }
    }
  }

  //** 指示器
  .flickity-page-dots {
    bottom: -20px;
  }
  .flickity-page-dots .dot {
    width: 15px;
    height: 15px;
  }

}


